<footer>
    <h4>Copyright©2024 Aime Ala Fernandez</h4>
</footer>
<style>
   footer{
    background-color: #EED3D9;
    text-align: center;
    color: antiquewhite;
   }
   h4{
    color: black;
   }
</style>